{% extends "base.html" %}
{% load staticfiles base_extra %}
{% block title %}Search details{% endblock %}
{% block content %}
<div class="table_center">
  <div class="row">
    {% if orders %}
      <div>
        <h1>File name: {{ orders.first.orders_file.file_name }}</h1>
      </div>
      <table id="allOrdersTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>ID in file</th>
            <th>Product url</th>
            <th>Product name</th>
            <th>Products count</th>
            <th>Products available</th>
            <th>Buyer</th>
            <th>Address</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Postal code</th>
            <th>Date created</th>
            <th>Date started</th>
            <th>Express order ID</th>
            <th>Delivery time</th>
            <th>Status</th>
          </tr>
        </thead>
          {% for order in orders %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.id_in_file }}</td>
              <td>{{ order.product_url }}</td>
              <td>{{ order.product_name }}</td>
              <td>{{ order.products_count }}</td>
              <td>{{ order.products_available }}</td>
              <td>{{ order.product_buyer }}</td>
              <td>{{ order.buyer_address }}</td>
              <td>{{ order.buyer_address2 }}</td>
              <td>{{ order.buyer_city }}</td>
              <td>{{ order.buyer_state_code }}</td>
              <td>{{ order.buyer_postal_code }}</td>
              <td>{{ order.date_created }}</td>
              <td>{{ order.date_started }}</td>
              <td>{{ order.express_order_id }}</td>
              <td>{{ order.delivery_time }}</td>
              <td>{{ order.get_status_display }}</td>
            </tr>
          {% endfor %}
      </table>
    {% else %}
      <div class="clear">
        <p>No results found</p>
      </div>
    {% endif %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{% url 'checkoutapp:orders-list' orders.first.orders_file.id %}?page={{ page_obj.previous_page_number }}"><img class="el-width-25" src="{% static 'img/previous.png' %}"></a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{% url 'checkoutapp:orders-list' orders.first.orders_file.id %}?page={{ page_obj.next_page_number }}"><img class="el-width-25" src="{% static 'img/next.png' %}"></a>
          {% endif %}
        </span>
        <input id="page_numb" type="text" placeholder="Page number" />
        <a class="goto_page_numb btn btn-info el-width-110" href="{% url 'checkoutapp:orders-list' orders.first.orders_file.id %}">Goto</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}